.nav{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #3674B5;

}
.logo{
    text-decoration: none;
    font-size: 24px;
    
}
.partie1{
    width: 45%;
    display: flex;

    
}
.items{
    text-decoration: none;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-left: 17px;
  
}
.partie1 div {
margin-left: 90px;

}
.partie1 div  a{
    margin-left: 30px;
    color: #fff;
}
.logo{
    margin-left: 20px;
    color: #fff;
}
.partie2 ul{
    display: flex;
    /* text-decoration: none; */
    list-style: none;
}
.partie2{
    width: 100%;
    display:flex;
    justify-content: end;
    color: #fff;
    
}
.partie2 ul li {
    
    margin-right: 60px;

}
.partie2 ul li a{
    text-decoration: none;
    color: #fff;
}
.partie2 ul li a button{
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    background-color: #FFAB5B;
    border:none;
}
.icon_width{
    font-size: 27px;
}
