/* login.css */
.containerlogin {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; /* Modification ici */
}
.login-container {
  width: 400px;

  /* margin: 0 auto; */
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 1.5rem;
  color: #495057;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-field {
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.submit-button {
  width: 100%;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #0056b3;
}
